In [101]:
import pandas as pd

In [102]:
#Série com elementos textuais
nossa_serie = pd.Series(['Goiaba', 'Abacaxi', 'Morango', 'Uva'])
nossa_serie

0     Goiaba
1    Abacaxi
2    Morango
3        Uva
dtype: object

In [103]:
#Série com numeros inteiros
nossa_serie = pd.Series([1, 2, 3, 4])
nossa_serie

0    1
1    2
2    3
3    4
dtype: int64

In [104]:
#Serie temporal
serie_temporal = pd.Series([pd.Timestamp('2024-08-08'), pd.Timestamp('2024-10-08'), pd.Timestamp('2024-10-07')])
serie_temporal

0   2024-08-08
1   2024-10-08
2   2024-10-07
dtype: datetime64[ns]

Temos outra maneira de construir uma série é indicando um nome para cada elemento, no Pandas esses nomes são chamados de Index

In [105]:
#Série com Index do tipo Literal (str/object)
serie_com_nomes = pd.Series({'um': 1, 'dois': 2, 'tres': 3})
serie_com_nomes

um      1
dois    2
tres    3
dtype: int64

In [106]:
serie_com_nomes = pd.Series({1: 'um', 2: 'dois', 3: 'tres'})
serie_com_nomes

1      um
2    dois
3    tres
dtype: object

In [107]:
serie = pd.Series(
    {
        'a':0,
        'b':1,
        'c':2,
        'd':3,
        'e':4,
        'f':5,
        'g':6,
        'h':7,
        'i':8,
        'j':9,
        'k':10,
        'l':11,
        'm':12,
        'n':13,
        'o':14,
        'p':15,
        'q':16,
        'r':17,
        's':18,
        't':19
    }
)
serie

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
dtype: int64

loc: Acessa o dado baseado em seu index (nome). O operador [] também pode ser utilizado como alternativa ao loc

iloc: Acessa o dado utilizando um inteiro que indica sua posição na série

In [108]:
print(serie.loc['j']) #loc procura pelo nome
print(serie['g'])
print()
print(serie.iloc[10]) #iloc procura pela posição
print()
print(serie.iloc[0:10])
print(serie[0:5])
print()
print(serie.iloc[ [0, 2, 4, 8, 11] ])# acessa pela posição

9
6

10

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
a    0
b    1
c    2
d    3
e    4
dtype: int64

a     0
c     2
e     4
i     8
l    11
dtype: int64

In [109]:
serie.loc['b'] = 'letra B'
serie['j'] = 'letra J'
serie.iloc[10] = 'letra P'
print(serie)

a          0
b    letra B
c          2
d          3
e          4
f          5
g          6
h          7
i          8
j    letra J
k    letra P
l         11
m         12
n         13
o         14
p         15
q         16
r         17
s         18
t         19
dtype: object

<ipython-input-109-653ff40788c9>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'letra B' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  serie.loc['b'] = 'letra B'

DataFrames

Podem ser criados por meio de um dicionário que mapeia os nomes das colunas e suas respectivas series

In [110]:
nomes = pd.Series(["Ana", "Bruno", "Carlos", "Daniela", "Eduardo", "Fernanda", "Gabriel", "Helena", "Igor", "Juliana"])
idades = pd.Series([25, 30, 22, 28, 35, 27, 24, 29, 31, 26])
peso = pd.Series([55, 78, 68, 60, 85, 62, 70, 58, 80, 65])

df = pd.DataFrame({
    'Nome': nomes,
    'Idade': idades,
    'Peso': peso
})
df

       Nome  Idade  Peso
0       Ana     25    55
1     Bruno     30    78
2    Carlos     22    68
3   Daniela     28    60
4   Eduardo     35    85
5  Fernanda     27    62
6   Gabriel     24    70
7    Helena     29    58
8      Igor     31    80
9   Juliana     26    65

Adicionando novas colunas

In [111]:
df['Cidade'] = pd.Series(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Curitiba', 'Salvador', 'Fortaleza', 'Manaus', 'Recife', 'Goiânia'])
df

       Nome  Idade  Peso          Cidade
0       Ana     25    55       São Paulo
1     Bruno     30    78  Rio de Janeiro
2    Carlos     22    68  Belo Horizonte
3   Daniela     28    60    Porto Alegre
4   Eduardo     35    85        Curitiba
5  Fernanda     27    62        Salvador
6   Gabriel     24    70       Fortaleza
7    Helena     29    58          Manaus
8      Igor     31    80          Recife
9   Juliana     26    65         Goiânia

In [112]:
#O nome será definido como index
df = df.set_index('Nome')
df

          Idade  Peso          Cidade
Nome
Ana          25    55       São Paulo
Bruno        30    78  Rio de Janeiro
Carlos       22    68  Belo Horizonte
Daniela      28    60    Porto Alegre
Eduardo      35    85        Curitiba
Fernanda     27    62        Salvador
Gabriel      24    70       Fortaleza
Helena       29    58          Manaus
Igor         31    80          Recife
Juliana      26    65         Goiânia

In [113]:
df['Altura'] = pd.Series([165, 180, 175, 170, 185, 168, 178, 160, 182, 172])
df

          Idade  Peso          Cidade  Altura
Nome
Ana          25    55       São Paulo     NaN
Bruno        30    78  Rio de Janeiro     NaN
Carlos       22    68  Belo Horizonte     NaN
Daniela      28    60    Porto Alegre     NaN
Eduardo      35    85        Curitiba     NaN
Fernanda     27    62        Salvador     NaN
Gabriel      24    70       Fortaleza     NaN
Helena       29    58          Manaus     NaN
Igor         31    80          Recife     NaN
Juliana      26    65         Goiânia     NaN

In [114]:
df['Peso']

Nome
Ana         55
Bruno       78
Carlos      68
Daniela     60
Eduardo     85
Fernanda    62
Gabriel     70
Helena      58
Igor        80
Juliana     65
Name: Peso, dtype: int64

In [115]:
df.Peso

Nome
Ana         55
Bruno       78
Carlos      68
Daniela     60
Eduardo     85
Fernanda    62
Gabriel     70
Helena      58
Igor        80
Juliana     65
Name: Peso, dtype: int64

In [116]:
df.loc['Igor','Altura'] = 175
df

          Idade  Peso          Cidade  Altura
Nome
Ana          25    55       São Paulo     NaN
Bruno        30    78  Rio de Janeiro     NaN
Carlos       22    68  Belo Horizonte     NaN
Daniela      28    60    Porto Alegre     NaN
Eduardo      35    85        Curitiba     NaN
Fernanda     27    62        Salvador     NaN
Gabriel      24    70       Fortaleza     NaN
Helena       29    58          Manaus     NaN
Igor         31    80          Recife   175.0
Juliana      26    65         Goiânia     NaN

In [117]:
df[['Cidade', 'Peso']]

                  Cidade  Peso
Nome
Ana            São Paulo    55
Bruno     Rio de Janeiro    78
Carlos    Belo Horizonte    68
Daniela     Porto Alegre    60
Eduardo         Curitiba    85
Fernanda        Salvador    62
Gabriel        Fortaleza    70
Helena            Manaus    58
Igor              Recife    80
Juliana          Goiânia    65

In [118]:
df.iloc[0:3]

        Idade  Peso          Cidade  Altura
Nome
Ana        25    55       São Paulo     NaN
Bruno      30    78  Rio de Janeiro     NaN
Carlos     22    68  Belo Horizonte     NaN

In [119]:
df.loc['Ana', :] = [99, 99.9, 'Uberlândia', 85]
df

<ipython-input-119-d774016606f8>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '99.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc['Ana', :] = [99, 99.9, 'Uberlândia', 85]

          Idade  Peso          Cidade  Altura
Nome
Ana          99  99.9      Uberlândia    85.0
Bruno        30  78.0  Rio de Janeiro     NaN
Carlos       22  68.0  Belo Horizonte     NaN
Daniela      28  60.0    Porto Alegre     NaN
Eduardo      35  85.0        Curitiba     NaN
Fernanda     27  62.0        Salvador     NaN
Gabriel      24  70.0       Fortaleza     NaN
Helena       29  58.0          Manaus     NaN
Igor         31  80.0          Recife   175.0
Juliana      26  65.0         Goiânia     NaN

In [120]:
df = df.drop(columns=['Altura'])
df

          Idade  Peso          Cidade
Nome
Ana          99  99.9      Uberlândia
Bruno        30  78.0  Rio de Janeiro
Carlos       22  68.0  Belo Horizonte
Daniela      28  60.0    Porto Alegre
Eduardo      35  85.0        Curitiba
Fernanda     27  62.0        Salvador
Gabriel      24  70.0       Fortaleza
Helena       29  58.0          Manaus
Igor         31  80.0          Recife
Juliana      26  65.0         Goiânia

**Manipulação de Dados**

In [121]:
df = pd.read_csv('https://raw.githubusercontent.com/rashida048/Datasets/master/titanic_data.csv')

In [122]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [123]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [124]:
df.tail() #pega as 5 ultimas linhas ou quantas preferir

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [126]:
df = df.rename(columns={'PassengerId': 'ID',
                        'Survived': 'SOBREV',
                        'Pclass' : 'CLASSE',
                        'Name': 'NOME',
                        'Sex': 'SEXO',
                        'Age': 'IDADE',
                        'SibSp': 'N_ADULTOS',
                        'Parch': 'N_CRIANCAS',
                        'Ticket': 'BILHETE',
                        'Fare': 'TARIFA',
                        'Cabin': 'CABINE',
                        'Embarked': 'LOCAL'
                        })
df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA,CABINE,LOCAL
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Convertendo SOBREV para tipo Bool e criando uma nova coluna FALECEU

In [127]:
df.SOBREV = df.SOBREV.astype(bool)
df['FALECEU'] = ~df.SOBREV
df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA,CABINE,LOCAL,FALECEU
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True

Convertendo as taxas da passagem para R$
Calculando o numero de pessoas por cabine e a taxa por pessoa

In [128]:
df.TARIFA = df.TARIFA * 5.50
df['TOTAL_PESSOAS'] = df.N_ADULTOS + df.N_CRIANCAS + 1
df['TARIFA_PESSOA'] = df.TARIFA / df.TOTAL_PESSOAS

df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,39.87500,NaN,S,True,2,19.937500
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,43.58750,NaN,S,False,1,43.587500
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,44.27500,NaN,S,True,1,44.275000

In [129]:
df = df.rename(columns={'TARIFA': 'TARIFA_CABINE'})
df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,39.87500,NaN,S,True,2,19.937500
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,43.58750,NaN,S,False,1,43.587500
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,44.27500,NaN,S,True,1,44.275000

Operações nas strings

In [130]:
df.NOME = df.NOME.str.lower()
df.NOME = df.NOME.str.replace('mrs', 'sra.')
df.NOME = df.NOME.str.replace('mr', 'sr.')
df.NOME = df.NOME.str.replace('miss', 'srta')

df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA
0,1,False,3,"braund, sr.. owen harris",male,22.0,1,0,A/5 21171,39.87500,NaN,S,True,2,19.937500
1,2,True,1,"cumings, sra.. john bradley (florence briggs t...",female,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075
2,3,True,3,"heikkinen, srta. laina",female,26.0,0,0,STON/O2. 3101282,43.58750,NaN,S,False,1,43.587500
3,4,True,1,"futrelle, sra.. jacques heath (lily may peel)",female,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000
4,5,False,3,"allen, sr.. william henry",male,35.0,0,0,373450,44.27500,NaN,S,True,1,44.275000

In [131]:
df.SEXO = df.SEXO.map({'male': 'homem', 'female': 'mulher'})
df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA
0,1,False,3,"braund, sr.. owen harris",homem,22.0,1,0,A/5 21171,39.87500,NaN,S,True,2,19.937500
1,2,True,1,"cumings, sra.. john bradley (florence briggs t...",mulher,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075
2,3,True,3,"heikkinen, srta. laina",mulher,26.0,0,0,STON/O2. 3101282,43.58750,NaN,S,False,1,43.587500
3,4,True,1,"futrelle, sra.. jacques heath (lily may peel)",mulher,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000
4,5,False,3,"allen, sr.. william henry",homem,35.0,0,0,373450,44.27500,NaN,S,True,1,44.275000

Utilizamos o fillna para trocar todos os campos vazios da cabine por PORÃO

In [132]:
df.CABINE = df.CABINE.fillna('PORÃO')
df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA
0,1,False,3,"braund, sr.. owen harris",homem,22.0,1,0,A/5 21171,39.87500,PORÃO,S,True,2,19.937500
1,2,True,1,"cumings, sra.. john bradley (florence briggs t...",mulher,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075
2,3,True,3,"heikkinen, srta. laina",mulher,26.0,0,0,STON/O2. 3101282,43.58750,PORÃO,S,False,1,43.587500
3,4,True,1,"futrelle, sra.. jacques heath (lily may peel)",mulher,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000
4,5,False,3,"allen, sr.. william henry",homem,35.0,0,0,373450,44.27500,PORÃO,S,True,1,44.275000

Criando uma função customizada

In [133]:
def define_tipo(total_pessoas):
  if total_pessoas == 1:
    return 'individual'
  if total_pessoas == 2:
    return 'casal'
  if total_pessoas > 2:
    return 'familia'

df['TIPO'] = df.TOTAL_PESSOAS.apply(define_tipo)
df.head()

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
0,1,False,3,"braund, sr.. owen harris",homem,22.0,1,0,A/5 21171,39.87500,PORÃO,S,True,2,19.937500,casal
1,2,True,1,"cumings, sra.. john bradley (florence briggs t...",mulher,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075,casal
2,3,True,3,"heikkinen, srta. laina",mulher,26.0,0,0,STON/O2. 3101282,43.58750,PORÃO,S,False,1,43.587500,individual
3,4,True,1,"futrelle, sra.. jacques heath (lily may peel)",mulher,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000,casal
4,5,False,3,"allen, sr.. william henry",homem,35.0,0,0,373450,44.27500,PORÃO,S,True,1,44.275000,individual

Ordenando os dados

In [134]:
df.sort_values(['TARIFA_CABINE', 'TOTAL_PESSOAS'])

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
179,180,False,3,"leonard, sr.. lionel",homem,36.0,0,0,LINE,0.0000,PORÃO,S,True,1,0.000000,individual
263,264,False,1,"harrison, sr.. william",homem,40.0,0,0,112059,0.0000,B94,S,True,1,0.000000,individual
271,272,True,3,"tornquist, sr.. william henry",homem,25.0,0,0,LINE,0.0000,PORÃO,S,False,1,0.000000,individual
277,278,False,2,"parkes, sr.. francis ""frank""",homem,NaN,0,0,239853,0.0000,PORÃO,S,True,1,0.000000,individual
302,303,False,3,"johnson, sr.. william cahoone jr",homem,19.0,0,0,LINE,0.0000,PORÃO,S,True,1,0.000000,individual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,True,1,"fortune, srta. alice elizabeth",mulher,24.0,3,2,19950,1446.5000,C23 C25 C27,S,False,6,241.083333,familia
438,439,False,1,"fortune, sr.. mark",homem,64.0,1,4,19950,1446.5000,C23 C25 C27,S,True,6,241.083333,familia
258,259,True,1,"ward, srta. anna",mulher,35.0,0,0,PC 17755,2817.8106,PORÃO,C,False,1,2817.810600,individual
737,738,True,1,"lesurer, sr.. gustave j",homem,35.0,0,0,PC 17755,2817.8106,B101,C,False,1,2817.810600,individual
679,680,True,1,"cardeza, sr.. thomas drake martinez",homem,36.0,0,1,PC 17755,2817.8106,B51 B53 B55,C,False,2,1408.905300,casal

Describe, usado para uma sumarização geral de todas as colunas numericas

In [135]:
df.describe()

,ID,CLASSE,IDADE,N_ADULTOS,N_CRIANCAS,TARIFA_CABINE,TOTAL_PESSOAS,TARIFA_PESSOA
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,2.308642,29.699118,0.523008,0.381594,177.123144,1.904602,109.540063
std,257.353842,0.836071,14.526497,1.102743,0.806057,273.313857,1.613459,197.126915
min,1.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,223.500000,2.000000,20.125000,0.000000,0.000000,43.507200,1.000000,39.875000
50%,446.000000,3.000000,28.000000,0.000000,0.000000,79.498100,1.000000,45.650000
75%,668.500000,3.000000,38.000000,1.000000,0.000000,170.500000,2.000000,130.166667
max,891.000000,3.000000,80.000000,8.000000,6.000000,2817.810600,11.000000,2817.810600

Calculando valores individuais para as colunas

In [136]:
df.IDADE.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: IDADE, dtype: float64

In [153]:
print("Pessoa mais velha: ", df.IDADE.max())
print("Pessoa mais nova: ", df.IDADE.min())
print("Média de idade: ", df.IDADE.mean())
print("Total das Taxas: ", df.TARIFA_CABINE.sum())
print("Total de pessoas: ", df.TOTAL_PESSOAS.sum())
print("Média de tarifa por pessoa: ", df.TARIFA_PESSOA.mean())
print("Total de Mulheres: ", df.SEXO.value_counts()['mulher'])
print("Total de Homens: ", df.SEXO.value_counts()['homem'])

Pessoa mais velha:  80.0
Pessoa mais nova:  0.42
Média de idade:  29.69911764705882
Total das Taxas:  157816.72115
Total de pessoas:  1697
Média de tarifa por pessoa:  109.54006311554701
Total de Mulheres:  314
Total de Homens:  577

In [138]:
df.SEXO.value_counts()

SEXO
homem     577
mulher    314
Name: count, dtype: int64

In [139]:
df.SEXO.value_counts(normalize=True) #Calculando a porcentagem

SEXO
homem     0.647587
mulher    0.352413
Name: proportion, dtype: float64

Filtrando os dados

In [156]:
df[df.SEXO == 'mulher']

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
1,2,true,1,"cumings, sra.. john bradley (florence briggs t...",mulher,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075,casal
2,3,true,3,"heikkinen, srta. laina",mulher,26.0,0,0,STON/O2. 3101282,43.58750,PORÃO,S,False,1,43.587500,individual
3,4,true,1,"futrelle, sra.. jacques heath (lily may peel)",mulher,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000,casal
8,9,true,3,"johnson, sra.. oscar w (elisabeth vilhelmina b...",mulher,27.0,0,2,347742,61.23315,PORÃO,S,False,3,20.411050,familia
9,10,true,2,"nasser, sra.. nicholas (adele achem)",mulher,14.0,1,0,237736,165.38940,PORÃO,C,False,2,82.694700,casal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,true,2,"shelley, sra.. william (imanita parrish hall)",mulher,25.0,0,1,230433,143.00000,PORÃO,S,False,2,71.500000,casal
882,883,false,3,"dahlberg, srta. gerda ulrika",mulher,22.0,0,0,7552,57.84185,PORÃO,S,True,1,57.841850,individual
885,886,false,3,"rice, sra.. william (margaret norton)",mulher,39.0,0,5,382652,160.18750,PORÃO,Q,True,6,26.697917,familia
887,888,true,1,"graham, srta. margaret edith",mulher,19.0,0,0,112053,165.00000,B42,S,False,1,165.000000,individual
888,889,false,3,"johnston, srta. catherine helen ""carrie""",mulher,NaN,1,2,W./C. 6607,128.97500,PORÃO,S,True,4,32.243750,familia

Filtrandos os homes na classe 1

In [159]:
df[(df.SEXO == 'homem') & (df.CLASSE == 1) & (df.IDADE >= 70) & (df.SOBREV == 'true' )]

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
630,631,true,1,"barkworth, sr.. algernon henry wilson",homem,80.0,0,0,27042,165.0,A23,S,False,1,165.0,individual

In [164]:
df[(df.SEXO == 'mulher') & (df.SOBREV == 'true' )]

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
1,2,true,1,"cumings, sra.. john bradley (florence briggs t...",mulher,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075,casal
2,3,true,3,"heikkinen, srta. laina",mulher,26.0,0,0,STON/O2. 3101282,43.58750,PORÃO,S,False,1,43.587500,individual
3,4,true,1,"futrelle, sra.. jacques heath (lily may peel)",mulher,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000,casal
8,9,true,3,"johnson, sra.. oscar w (elisabeth vilhelmina b...",mulher,27.0,0,2,347742,61.23315,PORÃO,S,False,3,20.411050,familia
9,10,true,2,"nasser, sra.. nicholas (adele achem)",mulher,14.0,1,0,237736,165.38940,PORÃO,C,False,2,82.694700,casal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,true,2,"abelson, sra.. samuel (hannah wizosky)",mulher,28.0,1,0,P/PP 3381,132.00000,PORÃO,C,False,2,66.000000,casal
875,876,true,3,"najib, srta. adele kiamie ""jane""",mulher,15.0,0,0,2667,39.73750,PORÃO,C,False,1,39.737500,individual
879,880,true,1,"potter, sra.. thomas jr (lily alexenia wilson)",mulher,56.0,0,1,11767,457.37065,C50,C,False,2,228.685325,casal
880,881,true,2,"shelley, sra.. william (imanita parrish hall)",mulher,25.0,0,1,230433,143.00000,PORÃO,S,False,2,71.500000,casal
887,888,true,1,"graham, srta. margaret edith",mulher,19.0,0,0,112053,165.00000,B42,S,False,1,165.000000,individual

In [166]:
df.SEXO.value_counts()

SEXO
homem     577
mulher    314
Name: count, dtype: int64

In [167]:
mulheres_sobreviventes = df[(df.SEXO == 'mulher') & (df.SOBREV == 'true' )]
mulheres_sobreviventes

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
1,2,true,1,"cumings, sra.. john bradley (florence briggs t...",mulher,38.0,1,0,PC 17599,392.05815,C85,C,False,2,196.029075,casal
2,3,true,3,"heikkinen, srta. laina",mulher,26.0,0,0,STON/O2. 3101282,43.58750,PORÃO,S,False,1,43.587500,individual
3,4,true,1,"futrelle, sra.. jacques heath (lily may peel)",mulher,35.0,1,0,113803,292.05000,C123,S,False,2,146.025000,casal
8,9,true,3,"johnson, sra.. oscar w (elisabeth vilhelmina b...",mulher,27.0,0,2,347742,61.23315,PORÃO,S,False,3,20.411050,familia
9,10,true,2,"nasser, sra.. nicholas (adele achem)",mulher,14.0,1,0,237736,165.38940,PORÃO,C,False,2,82.694700,casal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,true,2,"abelson, sra.. samuel (hannah wizosky)",mulher,28.0,1,0,P/PP 3381,132.00000,PORÃO,C,False,2,66.000000,casal
875,876,true,3,"najib, srta. adele kiamie ""jane""",mulher,15.0,0,0,2667,39.73750,PORÃO,C,False,1,39.737500,individual
879,880,true,1,"potter, sra.. thomas jr (lily alexenia wilson)",mulher,56.0,0,1,11767,457.37065,C50,C,False,2,228.685325,casal
880,881,true,2,"shelley, sra.. william (imanita parrish hall)",mulher,25.0,0,1,230433,143.00000,PORÃO,S,False,2,71.500000,casal
887,888,true,1,"graham, srta. margaret edith",mulher,19.0,0,0,112053,165.00000,B42,S,False,1,165.000000,individual

In [168]:
print("Mulheres que sobreviveram: ", mulheres_sobreviventes.shape[0]) #contagem

Mulheres que sobreviveram:  233

In [170]:
mul_nao_sobrev = df[(df.SEXO == 'mulher') & (df.SOBREV == 'false' )]
mul_nao_sobrev

,ID,SOBREV,CLASSE,NOME,SEXO,IDADE,N_ADULTOS,N_CRIANCAS,BILHETE,TARIFA_CABINE,CABINE,LOCAL,FALECEU,TOTAL_PESSOAS,TARIFA_PESSOA,TIPO
14,15,false,3,"vestrom, srta. hulda amanda adolfina",mulher,14.0,0,0,350406,43.19810,PORÃO,S,True,1,43.198100,individual
18,19,false,3,"vander planke, sra.. julius (emelia maria vand...",mulher,31.0,1,0,345763,99.00000,PORÃO,S,True,2,49.500000,casal
24,25,false,3,"palsson, srta. torborg danira",mulher,8.0,3,1,349909,115.91250,PORÃO,S,True,5,23.182500,familia
38,39,false,3,"vander planke, srta. augusta maria",mulher,18.0,2,0,345764,99.00000,PORÃO,S,True,3,33.000000,familia
40,41,false,3,"ahlin, sra.. johan (johanna persdotter larsson)",mulher,40.0,1,0,7546,52.11250,PORÃO,S,True,2,26.056250,casal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,855,false,2,"carter, sra.. ernest courtenay (lilian hughes)",mulher,44.0,1,0,244252,143.00000,PORÃO,S,True,2,71.500000,casal
863,864,false,3,"sage, srta. dorothy edith ""dolly""",mulher,NaN,8,2,CA. 2343,382.52500,PORÃO,S,True,11,34.775000,familia
882,883,false,3,"dahlberg, srta. gerda ulrika",mulher,22.0,0,0,7552,57.84185,PORÃO,S,True,1,57.841850,individual
885,886,false,3,"rice, sra.. william (margaret norton)",mulher,39.0,0,5,382652,160.18750,PORÃO,Q,True,6,26.697917,familia
888,889,false,3,"johnston, srta. catherine helen ""carrie""",mulher,NaN,1,2,W./C. 6607,128.97500,PORÃO,S,True,4,32.243750,familia

In [177]:
print("Mulheres que sobreviveram: ", mulheres_sobreviventes.shape[0]) #shape[0]: contagem
print("Mulheres que não sobreviveram: ", mul_nao_sobrev.shape[0])
print("Total de Mulheres: ", df.SEXO.value_counts()['mulher'])

Mulheres que sobreviveram:  233
Mulheres que não sobreviveram:  81
Total de Mulheres:  314